    #container {
      width:500px;
      margin:auto;
    }
    #login_input {
      float:left;
    }
    input[type="text"], input[type="password"]{
      
      display:block;
      width:300px;
      height:35px;
      line-height:35px;
      border:1px solid #ccc;
      background-color:#eee;
    }
    #login_bttn > button {
      float:left;
      width:100px;
      height:78px;
      background-color:#222;
      color:white;
      border:none;
    }